attrs==21.4.0
bpython==0.24
Brotli==1.0.9
brotlipy==0.7.0
ConfigParser==7.0.0
coreschema==0.0.4
cryptography==42.0.5
cx_Oracle==8.3.0
Cython==0.29.28
dj_database_url==2.1.0
django_storages==1.14.2
django-paypal
dl==0.1.0
docutils==0.17.1
docutils==0.17.1
HTMLParser==0.0.2
importlib_metadata==4.11.3
ipdb==0.13.13
ipython==8.12.3
ipywidgets==7.6.5
keyring==23.4.0
lockfile==0.12.2
Markdown==3.3.4
numpy==1.24.1
ordereddict==1.1
paypal==1.2.5
paypalrestsdk==1.13.3
Pillow==10.3.0
protobuf==3.20.3
psycopg==3.1.18
PyJWT==2.8.0
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==24.1.0
python-decouple==3.8
python-dotenv==1.0.1
pywatchman==2.0.0
PyYAML==6.0.1
railroad==0.5.0
sets==0.3.2
Sphinx==4.4.0
tblib==1.7.0
thread==2.0.1
toml==0.10.2
tornado==6.1
