option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "BGC_Back_End.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "BGC_Back_End.wsgi:application"

commands:
  01_create_venv:
    command: "python3 -m venv /var/app/staging/.venv"
  02_install_requirements:
    command: "/var/app/staging/.venv/bin/pip install -r /var/app/staging/requirements.txt"
