option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "BGC_Back_End.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "BGC_Back_End.wsgi:application"

container_commands:
  01_activate_venv:
    command: "source /var/app/current/BGCBackEnd/venv/bin/activate"
  
  02_install_requirements:
    command: "pip install -r /var/app/current/BGCBackEnd/requirements.txt"
